In [1]:
import pandas as pd

In [6]:
#Reading in CSV file

art = "CSV Files/ART.csv"
art_df = pd.read_csv(art)
art_df.head()

    Entity Code  Year   (% of people living with HIV)
0  Albania  ALB  2000                             0.0
1  Albania  ALB  2001                             0.0
2  Albania  ALB  2002                             0.0
3  Albania  ALB  2003                             0.0
4  Albania  ALB  2004                             4.0

In [7]:
#filtering life expectancy csv on the year

art_df = art_df.loc[art_df["Year"] <= 2015]

art_df

        Entity Code  Year   (% of people living with HIV)
0      Albania  ALB  2000                             0.0
1      Albania  ALB  2001                             0.0
2      Albania  ALB  2002                             0.0
3      Albania  ALB  2003                             0.0
4      Albania  ALB  2004                             4.0
5      Albania  ALB  2005                             8.0
6      Albania  ALB  2006                             9.0
7      Albania  ALB  2007                            10.0
8      Albania  ALB  2008                            14.0
9      Albania  ALB  2009                            16.0
10     Albania  ALB  2010                            16.0
11     Albania  ALB  2011                            20.0
12     Albania  ALB  2012                            24.0
13     Albania  ALB  2013                            31.0
14     Albania  ALB  2014                            33.0
15     Albania  ALB  2015                            36.0
18     Algeria  DZA  2000                             7.0
19     Algeria  DZA  2001                             9.0
20     Algeria  DZA  2002                             9.0
21     Algeria  DZA  2003                            10.0
22     Algeria  DZA  2004                            12.0
23     Algeria  DZA  2005                            14.0
24     Algeria  DZA  2006                            18.0
25     Algeria  DZA  2007                            19.0
26     Algeria  DZA  2008                            19.0
27     Algeria  DZA  2009                            23.0
28     Algeria  DZA  2010                            31.0
29     Algeria  DZA  2011                            33.0
30     Algeria  DZA  2012                            38.0
31     Algeria  DZA  2013                            48.0
...        ...  ...   ...                             ...
2993    Zambia  ZMB  2002                             0.0
2994    Zambia  ZMB  2003                             2.0
2995    Zambia  ZMB  2004                             3.0
2996    Zambia  ZMB  2005                             7.0
2997    Zambia  ZMB  2006                            10.0
2998    Zambia  ZMB  2007                            19.0
2999    Zambia  ZMB  2008                            26.0
3000    Zambia  ZMB  2009                            31.0
3001    Zambia  ZMB  2010                            37.0
3002    Zambia  ZMB  2011                            44.0
3003    Zambia  ZMB  2012                            48.0
3004    Zambia  ZMB  2013                            54.0
3005    Zambia  ZMB  2014                            61.0
3006    Zambia  ZMB  2015                            70.0
3009  Zimbabwe  ZWE  2000                             0.0
3010  Zimbabwe  ZWE  2001                             0.0
3011  Zimbabwe  ZWE  2002                             0.0
3012  Zimbabwe  ZWE  2003                             0.0
3013  Zimbabwe  ZWE  2004                             1.0
3014  Zimbabwe  ZWE  2005                             2.0
3015  Zimbabwe  ZWE  2006                             5.0
3016  Zimbabwe  ZWE  2007                             8.0
3017  Zimbabwe  ZWE  2008                            12.0
3018  Zimbabwe  ZWE  2009                            18.0
3019  Zimbabwe  ZWE  2010                            30.0
3020  Zimbabwe  ZWE  2011                            40.0
3021  Zimbabwe  ZWE  2012                            45.0
3022  Zimbabwe  ZWE  2013                            53.0
3023  Zimbabwe  ZWE  2014                            61.0
3024  Zimbabwe  ZWE  2015                            67.0

[2691 rows x 4 columns]

In [8]:
art_df.to_csv("CSV Files/art_2000to2015.csv",
                  encoding="utf-8", index=False, header=True)