In [7]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
username = "root"
password = "cookies25"

# Cleaning ART CSV

In [4]:
#Reading in CSV file

art = "CSV Files/ART.csv"
art_df = pd.read_csv(art)
art_df.head()

FileNotFoundError: File b'CSV Files/ART.csv' does not exist

In [ ]:
#filtering life expectancy csv on the year

art_df = art_df.loc[art_df["Year"] <= 2015]

art_df.head()

In [ ]:
# Rename the headers to be more explanatory
art_df = art_df.rename(columns={" (% of people living with HIV)": "Percent_Living_With_HIV"
                                })


art_df.head()

In [5]:
art_df.to_csv("CSV Files/art_2000to2015.csv",
                  encoding="utf-8", index=False, header=True)

NameError: name 'art_df' is not defined

# Cleaning Life Expectancy CSV

In [6]:
#Reading in CSV file

life_expectancy = "CSV Files/life-expectancy.csv"
life_expectancy_df = pd.read_csv(life_expectancy)
life_expectancy_df.head()

FileNotFoundError: File b'CSV Files/life-expectancy.csv' does not exist

In [13]:
#filtering life expectancy csv on the year

five_years_life = life_expectancy_df.loc[life_expectancy_df["Year"] >= 2000]

five_years_life.head()

,Entity,Code,Year,Life expectancy (Clio-Infra up to 1949; UN Population Division for 1950 to 2015) (years)
50,Afghanistan,AFG,2000,55.481998
51,Afghanistan,AFG,2001,56.043999
52,Afghanistan,AFG,2002,56.637001
53,Afghanistan,AFG,2003,57.250000
54,Afghanistan,AFG,2004,57.875000

In [14]:
# Rename the headers to be more explanatory
five_years_life = five_years_life.rename(columns={"Life expectancy (Clio-Infra up to 1949; UN Population Division for 1950 to 2015) (years)": "Life_Expectancy"
                                        })


five_years_life.head()

         Entity Code  Year  Life_Expectancy
50  Afghanistan  AFG  2000        55.481998
51  Afghanistan  AFG  2001        56.043999
52  Afghanistan  AFG  2002        56.637001
53  Afghanistan  AFG  2003        57.250000
54  Afghanistan  AFG  2004        57.875000

In [11]:
five_years_life.to_csv("CSV Files/life_expectancy_2000to2017.csv",
                  encoding="utf-8", index=False, header=True)

# Cleaning AIDS CSV

In [12]:
#Reading in CSV file

aids = "CSV Files/aids.csv"
aids_df = pd.read_csv(aids)
aids_df.head()

,Entity,Code,Year,Deaths from HIV/AIDS (Number),New infections of HIV/AIDS (new cases of HIV infection),Number of people living with HIV (tens) (tens of people living with HIV)
0,Afghanistan,AFG,1990,32.098129,78.304642,39.825778
1,Afghanistan,AFG,1991,37.524158,83.233703,43.801984
2,Afghanistan,AFG,1992,50.670559,104.710195,54.325016
3,Afghanistan,AFG,1993,58.433049,128.605343,66.886983
4,Afghanistan,AFG,1994,65.531176,136.848748,73.556533

In [13]:
#filtering aids csv on the year

five_years = aids_df.loc[aids_df["Year"] >= 2013]

five_years.head()

,Entity,Code,Year,Deaths from HIV/AIDS (Number),New infections of HIV/AIDS (new cases of HIV infection),Number of people living with HIV (tens) (tens of people living with HIV)
23,Afghanistan,AFG,2013,202.619331,495.363464,278.841962
24,Afghanistan,AFG,2014,219.567792,584.701554,320.078797
25,Afghanistan,AFG,2015,242.363011,679.009196,363.016148
26,Afghanistan,AFG,2016,269.478306,790.059401,413.323530
27,Afghanistan,AFG,2017,302.166880,922.173458,473.003433

In [14]:
# Rename the headers to be more explanatory
renamed_df = five_years.rename(columns={"Deaths from HIV/AIDS (Number)": "Deaths",
                                       "New infections of HIV/AIDS (new cases of HIV infection)": "New_Infections",
                                        "Number of people living with HIV (tens) (tens of people living with HIV)": "HIV_Incidents(tens)"
                                        })


renamed_df.head()

         Entity Code  Year      Deaths  New_Infections  HIV_Incidents(tens)
23  Afghanistan  AFG  2013  202.619331      495.363464           278.841962
24  Afghanistan  AFG  2014  219.567792      584.701554           320.078797
25  Afghanistan  AFG  2015  242.363011      679.009196           363.016148
26  Afghanistan  AFG  2016  269.478306      790.059401           413.323530
27  Afghanistan  AFG  2017  302.166880      922.173458           473.003433

In [15]:
# Push the remade DataFrame to a new CSV file
renamed_df.to_csv("CSV Files/aids_2013_to_2017.csv",
                  encoding="utf-8", index=False, header=True)

# Cleaning HIV Death Rate by Age Groups CSV

In [16]:
#reading in CSV File

death = "CSV Files/hiv-death-rates-by-age.csv"
death_df = pd.read_csv(death)
death_df.head()

,Entity,Code,Year,"Under-5s (per 100,000)","All ages (per 100,000)","70+ years old (per 100,000)","5-14 years old (per 100,000)","15-49 years old (per 100,000)","50-69 years old (per 100,000)","Age-standardized (per 100,000)"
0,Afghanistan,AFG,1990,0.459374,0.320777,0.522788,0.008302,0.348175,0.645751,0.401954
1,Afghanistan,AFG,1991,0.513430,0.360964,0.544811,0.010046,0.387765,0.736372,0.458584
2,Afghanistan,AFG,1992,0.588480,0.412686,0.591638,0.012039,0.436061,0.868626,0.542512
3,Afghanistan,AFG,1993,0.651371,0.408342,0.629242,0.013891,0.401412,0.837047,0.533607
4,Afghanistan,AFG,1994,0.692321,0.435647,0.667779,0.016394,0.428321,0.868039,0.562373

In [17]:
#filtering death by age csv on the year

death_five_years = death_df.loc[death_df["Year"] >= 2013]

death_five_years.head()

,Entity,Code,Year,"Under-5s (per 100,000)","All ages (per 100,000)","70+ years old (per 100,000)","5-14 years old (per 100,000)","15-49 years old (per 100,000)","50-69 years old (per 100,000)","Age-standardized (per 100,000)"
23,Afghanistan,AFG,2013,1.086478,0.688092,0.698738,0.046499,0.892967,1.331047,0.884129
24,Afghanistan,AFG,2014,1.201211,0.722509,0.684093,0.047263,0.908938,1.383621,0.909027
25,Afghanistan,AFG,2015,1.355830,0.782104,0.675140,0.048659,0.963127,1.442483,0.962598
26,Afghanistan,AFG,2016,1.501508,0.848051,0.658624,0.049436,1.032328,1.518304,1.026573
27,Afghanistan,AFG,2017,1.708494,0.919705,0.645646,0.054208,1.086405,1.570305,1.087497

In [20]:
# Rename the headers to be more explanatory
renamed_death_df = death_five_years.rename(columns={"Under-5s (per 100,000)": "Toddlers",
                                       "70+ years old (per 100,000)": "Teens",
                                        "5-14 years old (per 100,000)": "Adults",
                                        "15-49 years old (per 100,000)": "Retired",
                                        "50-69 years old (per 100,000)": "Elderly"
                                        })


renamed_death_df.head()

,Entity,Code,Year,Toddlers,"All ages (per 100,000)",Teens,Adults,Retired,Elderly,"Age-standardized (per 100,000)"
23,Afghanistan,AFG,2013,1.086478,0.688092,0.698738,0.046499,0.892967,1.331047,0.884129
24,Afghanistan,AFG,2014,1.201211,0.722509,0.684093,0.047263,0.908938,1.383621,0.909027
25,Afghanistan,AFG,2015,1.355830,0.782104,0.675140,0.048659,0.963127,1.442483,0.962598
26,Afghanistan,AFG,2016,1.501508,0.848051,0.658624,0.049436,1.032328,1.518304,1.026573
27,Afghanistan,AFG,2017,1.708494,0.919705,0.645646,0.054208,1.086405,1.570305,1.087497

In [21]:
#only select the columns needed from dataframe 

renamed_death_df = renamed_death_df[["Entity", "Year", "Toddlers", "Teens",
                                    "Adults", "Retired", "Elderly"]]

renamed_death_df.head()

         Entity  Year  Toddlers     Teens    Adults   Retired   Elderly
23  Afghanistan  2013  1.086478  0.698738  0.046499  0.892967  1.331047
24  Afghanistan  2014  1.201211  0.684093  0.047263  0.908938  1.383621
25  Afghanistan  2015  1.355830  0.675140  0.048659  0.963127  1.442483
26  Afghanistan  2016  1.501508  0.658624  0.049436  1.032328  1.518304
27  Afghanistan  2017  1.708494  0.645646  0.054208  1.086405  1.570305

In [22]:
#push the remade DataFrame to a new CSV file
renamed_death_df.to_csv("CSV Files/death_age_2013_to_2017.csv",
                  encoding="utf-8", index=False, header=True)

# Loading DataFrames into DataBase

In [15]:
connection_string = "username:password@127.0.0.1/HIV_AIDS?charset=utf8mb4"
engine = create_engine(f'mysql+pymysql://{connection_string}', pool_size=10, max_overflow=50)

In [ ]:
#load ART dataframe into database, create table called ART
art_df.to_sql(name='ART', con=engine, if_exists='append', index=False)

In [ ]:
#load Life Expectancy dataframe into database, create table called Life Expectancy
five_years_life.to_sql(name='Life_Expectancy', con=engine, if_exists='append', index=False)

In [ ]:
#load AIDS dataframe into database, create table called AIDS
renamed_df.to_sql(name='AIDS', con=engine, if_exists='append', index=False)

In [24]:
#load Death dataframe into database, create table called Death
renamed_death_df.to_sql(name='Death', con=engine, if_exists='append', index=False)